header .left nav{
    /* position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black; */
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 10px 5%;
    font-family: 'Poppins';
}

nav .logo{
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-right: 2em;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: var(--grey);
    margin: 0 2em;
}

header{
    display: flex;
    align-items: center;
}

header .menu{
    right: calc(-800px - 100%);
}


header .left{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    color: white;
}

header .left .text{
    max-width: 800px;
    margin: auto;
    padding: 0 40px;
    transform: translateY(-20%);
}

header .left .text .title{
    font-family: 'Poppins', serif;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
}

header .left .text .desc{
    font-family: 'Montserrat';
    font-weight: lighter;
    margin-bottom: 3em;
}

header .left .social-links ul{
    display: flex;
    padding: 1em 2em;
}

header .social-icons i{
    font-size: 1.2em;
    margin: 0 10px;
    color: white;
}

header .social-icons i:hover{
    color: rgba(255, 255, 255, 0.568);
}


header .right {
    width: 1000px;
    height: 100vh;
    display: flex;
    background: var(--light);
    align-items: end;
}

header .right .content{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 5vw;
    height: 70%;
    width: 100%;
}

.slider{
    width: 350px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.slider .slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: 1s;
}

.slider .slides input{
    display: none;
}

.slider img{
    height: 60%;
    width: 100%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.slider .slide .text{
    padding: 2em 1em;
}

header .right .slide .subtitle{
    color: #6e6d7a9c;
    font-weight: bold;
    font-family: 'Raleway', sans-serif; 
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 90%;
}

header .right .slide .title{
    font-family: 'Poppins';
    font-weight: bold;
    margin: 1em 0;
    color: var(--grey);
}

.manual-nav{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em;
    margin-right: 4em;
}

.manual-btn{
    background-color: rgb(171 188 193);
    margin: 0 5px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.manual-btn:hover{
    background-color: var(--grey);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}


/* ------------ WHO ARE WE -------------- */
section{
    /* background: url('../images/endless-constellation.svg'); */
    /* background-color: #f3f3f3; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 20%;
}

.who .container, .what .container{
    width: 80%;
}

.why .container{
    margin-left: 20%;
}

section .title{
    text-transform: uppercase;
    color: var(--grey);
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 8em;
    position: relative;
    top: 5vh;
    opacity: 0.9;
}

section .box{
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: white;
}

section .text{
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--grey);
}

section .text div{
    margin: 1em 0;
}

section .img-container{
    display: flex;
    justify-content:center;
    align-items: center;
}

section .img-container img{
    width: 50%;
}

section p{
    margin: 1em 0;
}

/* -------- Media Queries --------- */
@media all and (max-width: 1300px){
    header .right{width: 500px;}
    section .title{
        font-size: 6em;
    }
}

@media all and (max-height: 750px){
    header .left .text{transform: translateY(0);}
}

@media all and (max-width: 1000px){
    header .left .text{transform: translateY(0);}
    section .title{
        font-size: 5em;
        top: 3vh;
    }
    section{padding: 5% 10%;}
}

@media all and (max-width:700px){
    header{flex-direction: column;}
    header .right{width: 100vw;}
    header .left{height: auto;}
    header .left .text{
        margin: 4em 0;
        font-size: 80%;
    }
    header .left nav{
        width: 100%;
        justify-content: space-around;
    }
    section .title {
        font-size: 3em;
        top: 2vh;
    }
    section .text{
        font-size: 90%;
        font-weight: normal;
    }
}

@media all and (max-width: 500px){
    .why .container {
        margin-left: 0%;
    }
    .who .container, .what .container{width: 100%;}
    section {
        padding: 10%;
    }
}