*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------- FONTS ------------------
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Teko', sans-serif;
font-family: 'Poppins'
*/

:root{
    --light: #dad5c7;
    --light-blue: #5eb7dfa8;
    --dull-blue: #6e6e8978;
    --grey: #706f71;

    --red-orange: #F05837;
    --blue: #006991;
    --dark-blue: #051D41;
    --black: #121212;
}

body{overflow-x: hidden;}
li{list-style-type: none;}
a{color: black;
text-decoration: none;}

.read-more{
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    padding: 5px 30px;
    margin: 1em 0;
}

/* --------- Hamburger --------- */
.head .right .hamburger{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ham-line{
    border: 1px solid white;
    width: 40px;
    margin: 6px 0;
}

/* ----------- MENU ---------------- */
.menu{
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
}

.menu.active{
    right: 0;
    transition: all 500ms ease;
}

.menu .container{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.menu .container ul{
    height: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: initial;
}

.menu .container ul li a{
    text-decoration: none;
    font-weight: 800;
    font-size: 4em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 24%);
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.menu .container ul li a:before{
    content: attr(data-text);
    background: url('../images/wave.png');
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    animation: 1s linear water infinite;
    width: 0;
    overflow: hidden;
    transition: 0.2s;
    white-space: nowrap;
}

.menu .container ul li a:hover:before{
    width: 100%;
}

@keyframes water{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 200px;
    }
}

.menu.active .close-ham{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em 4em;
}

.menu.active .close-ham-line:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}
.menu.active .close-ham-line:nth-child(2){
    position: absolute;
    transform: rotate(-45deg);
}

.btn{
    background-color: var(--blue);
    border-radius: 25px;
    font-size: 1.2em;
    padding: 5px 40px;
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    transition: 300ms ease;
}

.btn a{color: white;}
.btn:hover{
    background: var(--red-orange);
}

/*  ------------- Footer --------------- */
footer{
    background: var(--black);
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

footer .container{
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

footer .container .links{width: 30%;}
footer .container .links ul{
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .links ul a{
    font-family: 'Poppins';
    font-size: 2em;
    text-align: center;
}

footer a{
    color: white;
    transition: all .2s;
    margin: 0 20px;
}
footer a:hover{
    color: rgba(255, 255, 255, 0.548);
}

footer .right{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .right .social-links ul{
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin-bottom: 1em;
}

footer .email-input{
    width: 350px;
    max-width: 90%;
    color: black;
    text-align: left;
    font-weight: 500;
    border-radius: 5px;
    border: 0px;
    padding: 10px 0px 10px 20px;
    font-size: 15px;
}

footer .email-input:focus, .email-input:hover{
    outline: 0px;
}

footer .subscribe-btn{
    border: 0px;
    width: 150px;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(42 42 42);
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    transition: all .2s;
}

footer .subscribe-btn:hover{
    background: rgb(75, 74, 74);
}

.copyrights{
    font-family: 'Poppins';
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: white;
}

.newsletter{
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

@media all and (max-width: 1060px){
    footer .email-input {
        width: 250px;
        margin-bottom: 1em;
    }
}

@media all and (max-width: 860px){
    footer .right .social-links ul{
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    footer form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .container .links ul{align-items: flex-start;}
    footer .container .links ul a{text-align: start;}
    footer .container .links {
        width: 50%;
    }
    footer a{
        margin: 0 10px;
    }
    footer .right {
        width: auto;
    }
}

@media all and (max-width: 600px){
    footer .links ul a{font-size: 1.5em;}
    .newsletter{font-size: 1em;}
    footer .email-input{
        padding: 5px 0px 5px 20px;
        font-size: 12px;
    }
    footer .social-icons i{font-size: 0.8em;}
    footer .container .links ul a{font-size: 1.2em;}
    footer .subscribe-btn {
        padding: 5px;
        font-size: 14px;
    }
    footer{padding: 4% 0;}
    footer .container .links ul a{font-size: 1em;}
    .menu .container ul li a{font-size: 3em;}
}
