header{
    /* background-image: url('../images/edited.png'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* height: 100vh; */
    position: relative;
    color: white;
}

header .header-bg{
    width: 100%;
    object-fit: contain;
}
.head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.head .left{
    width: 50%;
    height: 100%;
}

.head .mid{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
}

.head .text{
    margin-bottom: 1em;
}

.head .text .title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid white;
    max-width: 80%;
}

.head .text .subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    padding: 1em 0;
    width: 70%;
}

.head .right{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.head .right .top{
    height: 10%;
}


.head .right .hamburger{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ham-line{
    border: 1px solid white;
    width: 40px;
    margin: 4px 0;
}

.head .right .mid{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.head ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head .social-icons i{
    color: white;
    font-size: 1.5em;
    margin: 20px 0;
    transition: 200ms ease;
}

.head .social-icons i:hover{
    color: rgba(255, 255, 255, 0.568);
}

.head .bottom{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.design-line{
    position: absolute;
    top: 50%;
    right: 0;
    border: 2px solid var(--dark-blue);
    width: 180px;
}

.design-line:nth-child(1){
    border: 2px solid var(--red-orange);
    width: 150px;
    top: 40%;
}

.design-line:nth-child(3){
    border: 2px solid var(--red-orange);
    width: 250px;
    top: 60%;
}

/* ---------- Path ------------ */
.path{
    background-color: #f3f3f3;
}
.path .outer{
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 200px 0;
}

.path .inner{
    position: absolute;
    width: 94%;
    left: 3%;
    height: 100%;
    border-right: 1px solid #8080803d;
    border-left: 1px solid #8080803d;
    margin: -200px 0;
}

.path .outer .path-item{
    position: relative;
    display: flex;
    align-items: center;
    width: 97%;
    margin: 10% 0;
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
}

.path .path-item .left{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    font-family: 'Poppins';
    padding: 3em;
    z-index: 2;
    color: white;
}

.path .path-item .left .title{
    font-size: 4em;
    margin-bottom: 10px;
}

.path .path-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.path .path-item .overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000003b;
}

.path .number{
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 10em;
    font-family: 'Poppins';
    color: #ffffff9e;
}

.path .faqs .overlay{background-color: #0000007a;}

.path-item:nth-child(odd) {
    align-self: end;
}

.path .path-title{
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 130px 0;
}

.path .path-title .sub{
    font-family: 'Libre Baskerville', serif;
    color: #b19386;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

.path .path-title .main{
    font-family: 'Poppins';
    font-size: 3em;
    font-weight: bold;
    color: #000000ab;
}

/* ----------- Join ----------- */
.join{
    background-color: var(--black);
}

.join{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.join .text{
    width: 600px;
    font-family: 'Montserrat';
    color: #ffffffa1;
}

.join .text .title{
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: bold;
    line-height: 90%;
    margin-bottom: 25px;
    color: white;
}

.join .star-design{
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 5% 0;
}

.join .star-design img{
    width: 60%; 
}
.join .star-design .first{
    width: 30%;
    align-self: end;
    height: 100%;
    margin-right: -5%;
}

.join .btn{
    margin-top: 1em;
    font-weight: bold;
}
/* --------- Team carousel ------------ */
.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.team .team-title{
    font-family: 'Poppins';
    font-size: 8em;
    font-weight: bold;
    color: #00000081;
    margin-bottom: 20px;
}

.team-carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-carousel .member{
    margin: 2em;
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 15%);
}

.team-carousel .member .img-container{
    width: 300px;
    height: 300px;
}

.team-carousel .member .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-carousel .member .text{
    padding: 1em;
    text-align: center;
}

.team-carousel .member .text .name{
    font-family: 'Poppins';
    font-size: 2em;
    font-weight: bold;
    color: #000000ab;
}

.team-carousel .member .text .work{
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    letter-spacing: 2px;
}

.team-carousel .member .text .links ul{
    display: flex;
    justify-content: center;
}

.team-carousel .member .text .links i{
    font-size: 1.5em;
    margin: 20px 10px 0 10px;
}

@media all and (max-width: 1500px){
    .head .left{width: 40%;}
    .head .mid{
        width: 55%;
    }
    .head .text .title h1{font-size: 2em;}
}

@media all and (max-width:1300px){
    .join .text .title{font-size: 35px;}
    .join .text{width: 500px;}
}

@media all and (max-width: 1060px){
    .head .right{
        width: 10%;
        padding-top: 1em;
    }
    .head .mid{
        width: 50%;
    }
    .head .text .subtitle, .head .text .title h1{width: 100%;}
    .head .social-icons i{
        margin: 10px 0;
    }
    .join .text {
        font-size: 80%;
        width: 400px;
    }
    .team .team-title{font-size: 6em;}
}

@media all and (max-width: 860px){
    .head .text {
        font-size: 75%;
    }
    .head .social-icons i{
        font-size: 1em;
    }
    .ham-line {
        width: 30px;
        margin: 3px 0;
    }
    .path .path-item .left{font-size: 75%;}
    .path .number{font-size: 6em;}
    .path .path-title {
        padding: 100px 0;
    }
    .join {
        flex-direction: column;
        padding: 10%;
    }
    .join .star-design{width: 100%;}
    .team-carousel .member {
        margin: 1em;
        width: 215px;
    }
    .team-carousel .member .img-container{
        width: 215px;
        height: 215px;
    }
    .team .team-title {
        font-size: 5em;
    }
}

@media all and (max-width: 600px){
    .head .text {
        font-size: 50%;
    }
    .path .path-item .left{font-size: 60%;}
    .path .number{font-size: 3.5em;}
    .team .team-title {
        font-size: 3em;
    }
}

@media (max-width: 500px){
    .head .social-icons i {
        margin: 5px 0;
        font-size: 0.7em;
    }
    .ham-line{
        margin: 2px 0;
        width: 20px;
    }
    .btn{padding: 5px 25px;}
    .menu .container ul li a, .path .path-item .left .title{font-size: 3em;}
    .head .text .title h1 {
        font-size: 1.5em;
    }
    .join {
        padding: 10% 5%;
    }
    .join .text{width: auto;}
    .team{    padding: 10% 0;}
    .contact{font-size: 80%;}
}